.metadata
.metadata/
.metadata/.plugins
.metadata/.plugins/
.metadata/.plugins/org.eclipse.core.resources/.history/10/104f1824304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/11/301ab65a344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/14/50a4ac5a344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/1a/a0f4d3b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/20/e0f5ca422e4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/21/50dd22122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/26/00784f892a4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/2a/1027ec51334d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/2c/606b63ef2f4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/2c/e0c8f441284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/35/50eb1824304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/38/20f4f241284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/3a/c045f051334d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/3e/0039c6b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/3e/004bc207344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/3f/a00992b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/3f/e03e4ef82e4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/40/a0e91d522c4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/41/20a68d24304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/43/b0641724304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/47/90468c24304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/49/7020cf5a344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/4e/70649a60334d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/5/f0bd15122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/50/b0f2109c354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/53/2008f0b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/54/80a107ff2f4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/55/d0a421122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/58/d02912522c4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/5a/206822122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/5e/1030199c354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/60/d06bab5a344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/62/6001f641284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/63/f099d9b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/68/1077d7b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/6d/7016efe92f4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/6e/00b71524304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/7/b0797c05344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/70/40e7c207344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/7b/a017e806344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/7b/d097f6b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/7d/10bc0ab8284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/8/00163bf52f4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/8/a08d4e892a4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/84/303fe4e02d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/85/c0f20b55354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/86/6086f5b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/87/1070fc22364d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/87/907923122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/8a/202fac5a344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/99/502bcf5b344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/9f/50276d9d354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/a/90afd8b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/b/90f6d3422e4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/b0/30ef1b9c354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/b9/302806b8284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/bf/7037d1422e4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/bf/c09c71f4354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/c0/e0aae2122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/c2/00663f122d4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/c2/00dfd4b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/c5/506213522c4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/cb/50a2d5b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/cb/f009f4662b4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/cd/904fbe942f4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/ce/70d4af07344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/ce/e0156c9d354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/d0/200ef2662b4d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/d3/1029e906344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/d8/e0229460334d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/d9/80908e24304d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/e4/f038feb7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/ef/50fe9d5a344d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/fb/3090ed8d354d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.history/fb/a065d6b7284d00151360fb3e375f2f1f
.metadata/.plugins/org.eclipse.core.resources/.history/fd/e004f351334d00151beac350fe0a38d0
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsJava/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsJava/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsJava/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsJava/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsJava/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsRepositorio/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsRepositorio/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsRepositorio/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsRepositorio/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsService/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsService/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsService/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsService/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/1b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/6e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/a2/1e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/a2/99/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/a2/dd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/a2/ff/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/26/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/6f/7a/ec/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/1b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/6e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/a2/1e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/a2/99/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/a2/dd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/a2/ff/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/21/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/e4/b9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/VampireLegendsWeb/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/4.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jboss.ide.eclipse.as.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/VampireLegendsWeb.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/192885805.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/2167418332.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/3862039516.dat
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/8/35/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/8/35/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/VampireLegendsWeb.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_5_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_8
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1y.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1y_5.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1z.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1z_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_20.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_21.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_21_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_22.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_23.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_24.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_25.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_26.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_21
.metadata/.plugins/org.eclipse.m2e.core/nexus/8f608a9d0162be19eccc680b529fc1db/_4_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/8f608a9d0162be19eccc680b529fc1db/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/8f608a9d0162be19eccc680b529fc1db/_5_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/8f608a9d0162be19eccc680b529fc1db/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/8f608a9d0162be19eccc680b529fc1db/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/8f608a9d0162be19eccc680b529fc1db/segments_8
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.common.modulecore/dependencyCache.index
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3862039516.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/11031095.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3477187665.index
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.hibernate.eclipse/hibernate-tools.log
.metadata/.plugins/org.jboss.ide.eclipse.as.core/WildFly_8.x1440561264812/log
.metadata/.plugins/org.jboss.tools.central/images/1326442168/images%2Fwizards%2Fnewwebprj_wiz.gif
.metadata/.plugins/org.jboss.tools.central/images/148252474/images%2Fwizards%2Fjbossforge_icon_16px.png
.metadata/.plugins/org.jboss.tools.central/images/1671633110/images%2Fwizards%2Fopenshift-logo-white-icon.png
.metadata/.plugins/org.jboss.tools.central/images/1702310411/images%2Fwizards%2Fnewcordovaprj_wiz.png
.metadata/.plugins/org.jboss.tools.central/images/2009450531/images%2Fwizards%2Fnew_m2_project.gif
.metadata/.plugins/org.jboss.tools.central/images/2033056239/images%2Fwizards%2Fnew_m2_project.gif
.metadata/.plugins/org.jboss.tools.central/images/2090827374/images%2Fwizards%2Fjbossforge_icon_16px.png
.metadata/.plugins/org.jboss.tools.central/images/326242186/images%2Fwizards%2Fopenshift-logo-white-icon.png
.metadata/.plugins/org.jboss.tools.central/images/336887292/images%2Fwizards%2Fnewwebprj_wiz.gif
.metadata/.plugins/org.jboss.tools.central/images/529237194/images%2Fwizards%2Fhtml5.png
.metadata/.plugins/org.jboss.tools.central/images/565320895/images%2Fwizards%2Fnewcordovaprj_wiz.png
.metadata/.plugins/org.jboss.tools.central/images/995283946/images%2Fwizards%2Fhtml5.png
.metadata/.plugins/org.jboss.tools.central/jboss_buzz.xml
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.contributions.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.contributors.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.extraData.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.mainData.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.manager/.fileTable.8
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.manager/.fileTable.9
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.manager/.fileTableLock
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.namespaces.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.orphans.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/.rcache/.table.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/org.jboss.tools.central.discovery.earlyaccess_4.3.0.Beta2_v20150726_0122_B101.jar_5390294616587285968.jar
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440726842574/org.jboss.tools.central.discovery_4.3.0.Beta2_v20150726_0122_B101.jar_6671626926758132950.jar
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.contributions.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.contributors.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.extraData.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.mainData.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.manager/.fileTable.7
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.manager/.fileTable.8
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.manager/.fileTableLock
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.namespaces.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.orphans.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/.rcache/.table.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/org.jboss.tools.central.discovery.earlyaccess_4.3.0.Beta2_v20150726_0122_B101.jar_1779185450427244561.jar
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1440731593131/org.jboss.tools.central.discovery_4.3.0.Beta2_v20150726_0122_B101.jar_1266680890077712636.jar
.metadata/.plugins/org.jboss.tools.central/valid_jboss_buzz.xml
.metadata/.plugins/org.jboss.tools.project.examples/quickstarts-json/URLTransportCache.cacheIndex.properties
.metadata/.plugins/org.jboss.tools.project.examples/quickstarts-json/ee91a6ac8e8ced2b9afdf89ab588d37196ce4d72-5915711129364687598.tmp
.metadata/.plugins/org.jboss.tools.project.examples/quickstarts-json/ee91a6ac8e8ced2b9afdf89ab588d37196ce4d721226196125561110346.tmp
.metadata/version.ini
VampireLegendsJava/.classpath
VampireLegendsJava/.project
VampireLegendsRepositorio/.classpath
VampireLegendsRepositorio/.project
VampireLegendsService/.classpath
VampireLegendsService/.project
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v8.0 Server at localhost-config/catalina.policy
Servers/Tomcat v8.0 Server at localhost-config/catalina.properties
Servers/Tomcat v8.0 Server at localhost-config/context.xml
Servers/Tomcat v8.0 Server at localhost-config/server.xml
Servers/Tomcat v8.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v8.0 Server at localhost-config/web.xml
vampireLegends.css
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_6
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
VampireLegendsJava/.settings/org.eclipse.wst.common.component
VampireLegendsRepositorio/.settings/org.eclipse.wst.common.component
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_9
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_a
VampireLegendsWeb/src/main/.tmp/concat/scripts/oldieshim.js
VampireLegendsWeb/src/main/.tmp/concat/scripts/scripts.js
VampireLegendsWeb/src/main/.tmp/concat/scripts/vendor.js
VampireLegendsWeb/src/main/.tmp/styles/main.css
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_b
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_c
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_d
VampireLegendsJava/.settings/org.sonar.ide.eclipse.core.prefs
VampireLegendsRepositorio/.settings/org.eclipse.jdt.core.prefs
VampireLegendsRepositorio/.settings/org.eclipse.wst.common.project.facet.core.xml
VampireLegendsRepositorio/.settings/org.sonar.ide.eclipse.core.prefs
VampireLegendsService/.settings/org.sonar.ide.eclipse.core.prefs
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_e
/build/
.DS_Store
.classpath
.recommenders/
.settings/gradle/
.settings
VampireLegendsRepositorio/.settings/
VampireLegendsService/.settings/
VampireLegendsJava/.settings/
.project
