  
<div class="container">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <center>
                      <h3 class="panel-title">ATRIBUTOS</h3>
                  </center>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <label class="col-md-4">Fisicos</label>
                      <label class="col-md-4">Sociales</label>
                      <label class="col-md-4">Mentales</label>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Fuerza
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Carisma
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Percepción
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Destreza
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Manipulación
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Inteligencia
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                          <div class="col-md-4">
                              Resistencia
                          </div>
                          <div class="col-md-8">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                          </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Apariencia
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-4">
                                  Carisma
                              </div>
                              <div class="col-md-8">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>                                    
              </div>                    
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <center>
                      <h3 class="panel-title">HABILIDADES</h3>
                  </center>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <label class="col-md-4">Talentos</label>
                      <label class="col-md-4">Tecnicas</label>
                      <label class="col-md-4">Conocimientos</label>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Actuar
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Armas C.C
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Academicismo
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Alerta
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Equitación
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Ciencias
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                          <div class="col-md-5">
                              Atletismo
                          </div>
                          <div class="col-md-7">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                          </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Etiqueta
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Investigación
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Esquivar
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Herbolaria
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Leyes
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Empatía
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Música
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Linguística
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                          <div class="col-md-5">
                              Fullerías
                          </div>
                          <div class="col-md-7">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                              <input type="checkbox">
                          </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Pericias
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Medicina
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Intimidación
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Tiro con Arco
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Ocultismo
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Liderazgo
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Sigilo
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Política
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Pelea
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Supervivencia
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Sabiduría Popular
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Subterfugio
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Trato con Animales
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Senescal
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>                    
          </div>
          
          <div class="panel panel-default">
              <div class="panel-heading">
                  <center>
                      <h3 class="panel-title">VENTAJAS</h3>
                  </center>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <label class="col-md-4">Disciplinas</label>
                      <label class="col-md-4">Transfondos</label>
                      <label class="col-md-4">Conocimientos</label>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  ....
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  ....
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Conciencia/Convicción
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  ...
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  ...
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Autocontrol/Instinto
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  ...
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  ...
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 form-inline">
                          <div class="row">
                              <div class="col-md-5">
                                  Coraje
                              </div>
                              <div class="col-md-7">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                                  <input type="checkbox">
                              </div>
                          </div>
                      </div>
                  </div>                                    
              </div>                    
          </div>
      </div>
        