<div ng-controller="AtributosCtrl" class="panel panel-danger transparencia">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7 subtitulos col-md-offset-5">
                <h3 class="panel-title">{{'h3_atributos_atributos' | translate}}</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 form-inline">
                <div class="row">
                    <label class="col-md-4 label-hojaEdadOscura">{{'label_atributos_fisicos' | translate}}</label>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_fisicos_fuerza">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="fuerza" puntos="hojaRolEdadOscura.atributos.fisicos.fuerza"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_fisicos_destreza">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="destreza" puntos="hojaRolEdadOscura.atributos.fisicos.destreza"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_fisicos_resistencia">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="resistencia" puntos="hojaRolEdadOscura.atributos.fisicos.resistencia"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-inline">
                <div class="row">
                    <label class="col-md-4 label-hojaEdadOscura">{{'label_atributos_sociales' | translate}}</label>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_sociales_carisma">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="carisma" puntos="hojaRolEdadOscura.atributos.sociales.carisma"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_sociales_manipulacion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="manipulacion" puntos="hojaRolEdadOscura.atributos.sociales.manipulacion"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_sociales_apariencia">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="apariciencia" puntos="hojaRolEdadOscura.atributos.sociales.apariencia"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-inline">
                <div class="row">
                    <label class="col-md-4 label-hojaEdadOscura">{{'label_atributos_mentales' | translate}}</label>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_mentales_percepcion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="percepcion" puntos="hojaRolEdadOscura.atributos.mentales.percepcion"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_mentales_inteligencia">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="inteligencia" puntos="hojaRolEdadOscura.atributos.mentales.inteligencia"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_mentales_astucia">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="astucia" puntos="hojaRolEdadOscura.atributos.mentales.astucia"
                                  generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>