<div ng-controller="FuerzaVoluntadCtrl" class="panel panel-danger transparencia">
    <div class="panel-heading">
        <div class="row">
            <label class="label-hojaEdadOscura col-md-8 col-md-offset-4"
                   translate="label_fuerzaVoluntad_titulo"></label>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <checkbox nombre="fuerzaVoluntad" puntos="hojaRolEdadOscura.fuerzaVoluntad.puntos"
                          generacion="10"></checkbox>
            </div>
            <div class="col-md-8 col-md-offset-4">
                <checkbox nombre="fuerzaVoluntadGastada" puntos="hojaRolEdadOscura.fuerzaVoluntad.puntosGastados"
                          generacion="10"></checkbox>
            </div>
        </div>
    </div>
</div>