<div ng-controller="HabilidadesCtrl" class="panel panel-danger transparencia">
    <div class="panel-heading">
    	<div class="row">
    		<div class="col-md-7 subtitulos col-md-offset-5">
    			<h3 class="panel-title" translate="h3_habilidades_habilidades"></h3>
    		</div>
    	</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 form-inline">
            	<div class="row">
		            <label class="col-md-4 label-hojaEdadOscura" translate="label_habilidades_talentos"></label>
		        </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_alerta">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="alerta" puntos="hojaRolEdadOscura.habilidades.talentos.alerta" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_atletismo">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="atletismo" puntos="hojaRolEdadOscura.habilidades.talentos.atletismo" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
	                <div class="col-md-7 subtitulos" translate="div_habilidades_empatia">
	                </div>
	                <div class="col-md-5">
	                    <checkbox nombre="empatia" puntos="hojaRolEdadOscura.habilidades.talentos.empatia" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
	                </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_esquivar">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="esquivar" puntos="hojaRolEdadOscura.habilidades.talentos.esquivar" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_expresion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="expresion" puntos="hojaRolEdadOscura.habilidades.talentos.expresion" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_intimidacion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="intimidacion" puntos="hojaRolEdadOscura.habilidades.talentos.intimidacion" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_liderazgo">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="liderazgo" puntos="hojaRolEdadOscura.habilidades.talentos.liderazgo" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_pelea">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="pelea" puntos="hojaRolEdadOscura.habilidades.talentos.pelea" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_prestidigitacion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="prestidigitacion" puntos="hojaRolEdadOscura.habilidades.talentos.prestidigitacion" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_subterfugio">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="subterfugio" puntos="hojaRolEdadOscura.habilidades.talentos.subterfugio" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-inline">
            	<div class="row">
	            	<label class="col-md-4 label-hojaEdadOscura" translate="label_habilidades_tecnicas"></label>
	            </div>
                <div class="row">
                    <div class="col-md-7 subtitulos subtitulos" translate="div_habilidades_armas">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="armas" puntos="hojaRolEdadOscura.habilidades.tecnicas.armas" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_comercio">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="comercio" puntos="hojaRolEdadOscura.habilidades.tecnicas.comercio" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_equitacion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="equitacion" puntos="hojaRolEdadOscura.habilidades.tecnicas.equitacion" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_etiqueta">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="etiqueta" puntos="hojaRolEdadOscura.habilidades.tecnicas.etiqueta" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_interpretacion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="interpretacion" puntos="hojaRolEdadOscura.habilidades.tecnicas.interpretacion" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
	                <div class="col-md-7 subtitulos" translate="div_habilidades_pericias">
	                </div>
	                <div class="col-md-5">
	                    <checkbox nombre="pericias" puntos="hojaRolEdadOscura.habilidades.tecnicas.pericias" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
	                </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_sigilo">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="sigilo" puntos="hojaRolEdadOscura.habilidades.tecnicas.sigilo" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_supervivencia">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="supervivencia" puntos="hojaRolEdadOscura.habilidades.tecnicas.supervivencia" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_tiroArco">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="tiroArco" puntos="hojaRolEdadOscura.habilidades.tecnicas.tiroArco" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_tratoAnimales">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="tratoAnimales" puntos="hojaRolEdadOscura.habilidades.tecnicas.tratoAnimales" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            </div>
        	<div class="col-md-4 form-inline">
        		<div class="row">
		            <label class="col-md-4 label-hojaEdadOscura" translate="label_habilidades_conocimientos"></label>
		        </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_academicismo">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="academicismo" puntos="hojaRolEdadOscura.habilidades.conocimientos.academicismo" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_investigacion">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="investigacion" puntos="hojaRolEdadOscura.habilidades.conocimientos.investigacion" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_leyes">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="leyes" puntos="hojaRolEdadOscura.habilidades.conocimientos.leyes" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_linguistica">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="linguistica" puntos="hojaRolEdadOscura.habilidades.conocimientos.linguistica" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_medicina">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="medicina" puntos="hojaRolEdadOscura.habilidades.conocimientos.medicina" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_ocultismo">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="ocultismo" puntos="hojaRolEdadOscura.habilidades.conocimientos.ocultismo" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_politica">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="politica" puntos="hojaRolEdadOscura.habilidades.conocimientos.politica" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_sabiduriaPopular">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="sabiduriaPopular" puntos="hojaRolEdadOscura.habilidades.conocimientos.sabiduriaPopular" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_senescal">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="senescal" puntos="hojaRolEdadOscura.habilidades.conocimientos.senescal" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 subtitulos" translate="div_habilidades_teologia">
                    </div>
                    <div class="col-md-5">
                        <checkbox nombre="teologia" puntos="hojaRolEdadOscura.habilidades.conocimientos.teologia" generacion="hojaRolEdadOscura.generacion.rangoMaximo"></checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>