<div ng-controller="MeritoDefectoCtrl" class="panel panel-danger transparencia">
   	<div class="panel-heading">
	   	<div class="row">
	           <label class="col-md-8 col-md-offset-4 label-hojaEdadOscura" translate="label_meritosDefectos_titulo"></label>
	    </div>
    </div>
    <div class="panel-body">
    	<adicionaryremover texto="textoMeritoDefecto" array="hojaRolEdadOscura.meritosDefectos" adicion="meritoDefecto"></adicionaryremover>
	    <br>
	    <div class="row">
			<div name="meritoDefecto" class="col-md-12" ng-repeat="meritoDefecto in hojaRolEdadOscura.meritosDefectos">
			   <labelynivel nombre="meritoDefecto.nombre" puntos="meritoDefecto.puntos" tipo="meritoDefecto.tipo" lista="listaMeritosDefectos"></labelynivel>
			</div>
		</div>
		<br>
	</div>
</div>