<div ng-controller="ReservaSangreCtrl" class="panel panel-danger transparencia">
	<div class="panel-heading">
	   	<div class="row">
	    	<label class="col-md-8 col-md-offset-4 label-hojaEdadOscura" translate="label_reservaSangre_titulo"></label>
	    </div>
    </div>
    <div class="panel-body">
    	<div class="row">
	        <div class="col-md-8 col-md-offset-2">
	            <checkbox nombre="reservaSangre" puntos="hojaRolEdadOscura.generacion.reservaSangreGastada" generacion="hojaRolEdadOscura.generacion.reservaSangre"></checkbox>
	        </div>
        </div>
    </div>
</div>